<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Suite12" parallel="classes" thread-count="3">
    <test name="Parallel execution">
        <classes>
            <class name="tests.ComtradeRegisterTests"></class>
            <class name="tests.GoogleSearchTests"></class>
            <class name="tests.SauceDemoTests"></class>
        </classes>
    </test>
</suite>
